#title{
	margin-left:2%
}

div.container-fluid{
	height:2000px;
	/*background-color:#71B6E3*/
}

div#tabs-left{
	vertical-align:middle;
}

button.btn-info{
	margin: 2px;
}


a.sideEffect{
	color: red;
}

table#table-note{
	font-size: 12px;
	width: 20%;
	position:relative;
	left:80%;
}

img.starIcon{
	width: 8%;
	height:atuo;
}