@(allCurrentMedication: List[Medication]) @viewMedicationList{ }{
<script>
	//make the tag active
	$("li#all_current").attr("class", "active");
	//make the content active
	$("div#allCurrent").attr("class", "tab-pane active");
</script>

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Start Date</th>
		<th>Pharmacy</th>
	</tr>
	@for(m<-allCurrentMedication){
	
		@if(m.prescribed==true){
			<td><span class="label label-success">prescribed</span>&#160;@m.name</td>
		}else{
			<td><span class="label label-warning">OTC</span>&#160;@m.name</td>
		}		
		<td>@m.startDate.format("MMM dd yyyy")</td>
		<td>@m.pharmacy.name</td>
	</tr>
	}
</table>
} {

} {

} {

}