 @(title: String)(tab1: Html)(tab2: Html)(tab3: Html)(tab4: Html)(tab5:
Html)

<!DOCTYPE html>

<html lang="en">
<head>
<title>@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
</head>
<body>
	<div class="page-header">
		<h1>
			My Information Management</small>
		</h1>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<!--Sidebar content-->
				<div class="tabbable tabs-left" id="tabs-left"
					style="vertical-align: middle;">
					<ul class="nav nav-tabs">
						<li id="veiw_medication_list"><a href="/allMedication">View
								Medication List</a></li>
						<li id="refill_medication"><a href="/refillMedication">Refill
								Medication</a></li>
						<li id="enter_OTC_drugs"><a href="/enterOTCDrugs">Enter
								OTC drugs</a></li>
						<li id="enter_pharmacy_info"><a href="/enterPharmacyInfo">Enter
								Pharmacy Info</a></li>
						<li id="upload_"><a href="/uploadTab">Upload</a></li>
					</ul>
				</div>
			</div>
			<div class="span10">
				<div class="tab-content">
					<div class="tab-pane" id="tab1">@tab1</div>		
					<div class="tab-pane" id="tab2">@tab2</div>
					<div class="tab-pane" id="tab3">@tab3</div>
					<div class="tab-pane" id="tab4">@tab4</div>
					<div class="tab-pane" id="tab5">@tab5</div>
				</div>
			</div>
		</div>
	</div>
	<script>

	</script>
</body>
</html>
