@(allMedication:Html)(allCurrent:Html)(allPrescribed:Html)(sortByCondition:Html)(sortByDate:Html)

@main("Medication List"){

<div class="tabbable tabs-top">
	<ul class="nav nav-tabs">
		<li><a href="#allMedication" data-toggle="tab">All Medication List</a></li>
		<li><a href="#allCurrent" data-toggle="tab">All current Medication</a></li>
		<li><a href="#allPrescribed" data-toggle="tab">All Prescribed Medication</a></li>
		<li><a href="#sortByCondition" data-toggle="tab">Sort By Condition</a></li>
		<li><a href="#sortByDate" data-toggle="tab">Sort By Date</a></li>
	</ul>
</div>

<div class="tab-content">
	<div class="tab-pane active" id="allMedication">allMedication</div>
	<div class="tab-pane" id="allCurrent">allCurrent</div>
	<div class="tab-pane" id="allPrescribed">allPrescribed</div>
	<div class="tab-pane" id="sortByCondition">sortByCondition</div>
	<div class="tab-pane" id="sortByDate">sortByDate</div>
</div>

} {

} {

} {

} {

}