@(allMedication:Html)(allCurrent:Html)(allPrescribed:Html)(sortByCondition:Html)(sortByDate:Html)

@main("Medication List"){

<div class="tabbable tabs-top">
	<ul class="nav nav-tabs">
		<li id="all_medication"><a href="/allMedication" >All Medication List</a></li>
		<li id="all_current"><a  href="/allCurrent" >All current Medication</a></li>
		<li><a href="/allPrescribed" >All Prescribed Medication</a></li>
		<li><a href="/sortByCondition">Sort By Condition</a></li>
		<li id="sory_by_date"><a href="/sortByDate" >Sort By Date</a></li>
	</ul>
</div>

<div class="tab-content">
	<div class="tab-pane" id="allMedication">@allMedication</div>
	<div class="tab-pane" id="allCurrent">@allCurrent</div>
	<div class="tab-pane" id="allPrescribed">@allPrescribed</div>
	<div class="tab-pane" id="sortByCondition">@sortByCondition</div>
	<div class="tab-pane" id="sortByDate">@sortByDate</div>
</div>
<script>
	$("#tab1").attr("class", "tab-pane active");
	$("#veiw_medication_list").attr("class", "active");
	
</script>
} {

} {

} {

} {

}