@(currentPrescribed: List[Medication], currentOTC: List[Medication], pastPrescribed: List[Medication], pastOTC: List[Medication])

@viewMedicationList{


<span class="label label-success">Current Prescribed Medication</span>
<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Strength</th>
		<th>Dose</th>
		<th>Frequency</th>
		<th>Initially Ordered Date</th>
		<th>Last Filled On</th>
		<th>Pharmacy</th>
		<th>Good to take</th>
		<th></th>
	</tr>
	@for(m<-currentPrescribed){
	<tr>
		<td>@m.name</td>
		<td>@m.strength</td>
		<td>@m.dose</td>
		<td>@m.frequency</td>
		<td>@m.startDate.format("MMM dd yyyy")</td>
		@if(m.lastTakenDate!=null){
			<td>@m.lastTakenDate.format("MMM dd yyyy")</td> 
		}else{
			<td></td> 
		}
		<td>@m.pharmacy.name</td>
		<td>
		@if(m.hasSideEffect){
			&#10006;
		}else{
			&#10004;
		}
		</td>
		<td><a id='@m.id' href='#' data-placement='left' data-html='true' data-content="Quantity: @m.quantity<br/>Days Supply: @m.daysSupply<br/>Refills Remaining: @m.daysSupply<br/>">More</a></td>
	</tr>
	}
	<!-- This row is added by Yu manually for mockup -->
	<td>ABC</td>
	<td>10mg tab</td>
	<td>1 table</td>
	<td>daily</td>
	<td>Aug 13 2010</td>
	<td>Aug 20 2010</td>
	<td>DAYTON</td>
	<td><a class='sideEffect' id='ibuprofen' href='#' data-placement='left'data-html='true' data-content='side effect details are shown here'>&#10006;</a></td>
	<td><a href="#">More</a>
</table>

<span class="label label-warning">Current OTC</span>
<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Category</th>
		<th>Strength</th>
		<th>Dose</th>
		<th>Frequency</th>
		<th>Start Date</th>
		<th>Stop Date</th>
		<th>Pharmacy</th>
		<th>Good to take</th>

	</tr>
	@for(m<-currentOTC){
	<tr>
		<td>@m.name</td>
		<td>@m.category</td>
		<td>@m.strength</td>
		<td>@m.dose</td>
		<td>@m.frequency</td>
		<td>@m.startDate.format("MMM dd yyyy")</td>
		@if(m.lastTakenDate!=null){
		<td>@m.lastTakenDate.format("MMM dd yyyy")</td> }else{
		<td></td> }
		<td>@m.pharmacy.name</td>
		<td>
		@if(m.hasSideEffect){
			&#10006;
		}else{
			&#10004;
		}
		</td>
	</tr>
	}
</table>

<span class="label label-important">Past Prescribed Medication</span>
<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Strength</th>
		<th>Dose</th>
		<th>Frequency</th>
		<th>Initially Ordered Date</th>
		<th>Last Filled On</th>
		<th>Pharmacy</th>
		<th></th>
	</tr>
	@for(m<-pastPrescribed){
	<tr>
		<td>@m.name</td>
		<td>@m.strength</td>
		<td>@m.dose</td>
		<td>@m.frequency</td>
		<td>@m.startDate.format("MMM dd yyyy")</td>
		@if(m.lastTakenDate!=null){
			<td>@m.lastTakenDate.format("MMM dd yyyy")</td> 
		}else{
			<td></td> 
		}
		<td>@m.pharmacy.name</td>
		<td><a id='@m.id' href='#' data-placement='left' data-html='true' data-content="Quantity: @m.quantity<br/>Days Supply: @m.daysSupply<br/>Refills Remaining: @m.daysSupply<br/>">More</a></td>

	</tr>
	}

</table>

<span class="label label-info">Past OTC</span>
<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Category</th>
		<th>Strength</th>
		<th>Dose</th>
		<th>Frequency</th>
		<th>Start Date</th>
		<th>Stop Date</th>
		<th>Pharmacy</th>
	</tr>
	@for(m<-currentOTC){
	<tr>
		<td>@m.name</td>
		<td>@m.category</td>
		<td>@m.strength</td>
		<td>@m.dose</td>
		<td>@m.frequency</td>
		<td>@m.startDate.format("MMM dd yyyy")</td>
		@if(m.lastTakenDate!=null){
		<td>@m.lastTakenDate.format("MMM dd yyyy")</td> }else{
		<td></td> }
		<td>@m.pharmacy.name</td>
	</tr>
	}
</table>
<!-- <a class="btn btn-danger" href="@routes.Application.deleteAllMedication()">Delete All</a>
 -->
<script>
		//make the tag active
		$("li#all_medication").attr("class", "active");
		//make the content active
		$("div#allMedication").attr("class", "tab-pane active");
		
	
		//for popover
		@for(m<-currentPrescribed){
			$('#@m.id').popover();
		}

		@for(m<-pastPrescribed){
			$('#@m.id').popover();
		}

		$("a#ibuprofen").popover();
	</script>
}{ }{ }{ }{ }
