
@enterOTC{

<script>
  $("div#enterNewOTC").attr("class", "tab-pane active");
  $("li#enter_new_OTC").attr("class", "active");
</script>

<form class="form-horizontal">
	<div class="control-group">
    <label class="control-label" for="drugName">Drug Name</label>
    <div class="controls">
      <input type="text" id="drugName">
    </div>
  </div>

  	<div class="control-group">
    <label class="control-label" for="strength">Strength</label>
    <div class="controls">
      <input type="text" id="strength">
    </div>
  </div>

  	<div class="control-group">
    <label class="control-label" for="does">Does</label>
    <div class="controls">
      <input type="text" id="does" >
    </div>
  </div>

  	<div class="control-group">
    <label class="control-label" for="frequency">Frequency</label>
    <div class="controls">
      <input type="text" id="frequency" >
    </div>
  </div>

  	<div class="control-group">
    <label class="control-label" for="expirationDate">Expiration Date</label>
    <div class="controls">
      <input type="text" id="expirationDate" >
    </div>
  </div>

  	<div class="control-group">
    <label class="control-label" for="startDate">Start Date</label>
    <div class="controls">
      <input type="text" id="startDate" >
    </div>
  </div>

  	<div class="control-group">
    <label class="control-label" for="stopDate">Stop Date</label>
    <div class="controls">
      <input type="text" id="stopDate" >
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="reasonForTaking">Reason for taking</label>
    <div class="controls">
      <input type="text" id="reasonForTaking" >
    </div>
  </div>

	<div class="control-group">
    <label class="control-label" for="pharmacyName">Pharmacy Name</label>
    <div class="controls">
      <input type="text" id="pharmacyName" >
    </div>
  </div>

  	<div class="control-group">
    <label class="control-label" for="pharmacyPhone">Pharmacy Phone</label>
    <div class="controls">
      <input type="text" id="pharmacyPhone" >
    </div>
  </div>

  <div class="control-grounp"> 
  	<div class="controls">
  		<button type="submit" class="btn btn-primary">Submit</button>
  	</div>
  </div>
</form>
}{ }